<% @campsites.each do |campsite| %>
<p>
	<h3><%= link_to campsite.name, campsite_path(campsite) %></h3>
	<%= campsite.address %></br>
	<%= campsite.description %></br>
	
		<%= form_tag("/favorites", method: "post") do %>
		  <%= hidden_field_tag(:campsite_id, campsite.id) %>
		  <%= label_tag(:note, "Add a note to your favorite") %>
		  <%= text_field_tag(:note) %>
		  <%= submit_tag("Add to favorites") %>
		<% end %>
</p>
<% end %>

